
table{
    /* Redimensiona o espaçamento entre as linhas das bordas*/
    border-spacing: 12px;
}
.label{
    display: inline-block;
    width: 85px;
}
.label_dadosDElogin{
    display: inline-block;
    width: 125px;
}

input{
    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
    	/* definimos o quão arredondado irá ficar nosso box */
	border-radius: 2px;
}
#box{
	
	/* definimos o quão arredondado irá ficar nosso box */
	border-radius: 2px;
	}
